.dark-modal {
  .modal-content {
    background-color: #292b2c;
    color: white;
    border-bottom: 0;
  }
  .close {
    color: white;
  }
  .modal-header {
    border-bottom: 0;
  }
  .modal-footer {
    border-top: 0;
  }
}

.device-list {
  text-align: center;
  color: #FFFFFF;
}

.download {
  cursor: pointer;
}

.ads-box {
  width: 100%;
  height: 90px;
}