<div class="page-header section-dark" style="background-image: url('assets/img/download-bg.jpg')">
  <div class="filter"></div>
  <div class="content-center">
    <div class="container">
        <div class="row">
            <div class="title-brand">
                <div class="angular-logo">
                    <img src="assets/img/firehound-blue.png" alt="">
                </div>
                <h1>Our Official Devices</h1>
                <h2 class="presentation-subtitle text-center">Choose your device and ash with firehound</h2>
            </div>
        </div>
    </div>
  </div>
</div>

<div class="section section-dark">
    <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <div class="title">
                <h2>Device List</h2>
                <p class="description">List of all official supported devices</p>
            </div>
          </div>
        </div>
        <div class="row example-page">
            <div class="col-md-3 text-center device" *ngFor="let device of devices">
                <a (click)="gotoDownload(device.codename)" class="btn btn-outline-neutral btn-round btn-lg"><i class="fa fa-folder"></i>{{device.codename}}</a>
            </div>
        </div>
    </div>
</div>