<div class="page-header section-dark" style="background-image: url('assets/img/services-bg.jpg')">
  <div class="filter"></div>
  <div class="content-center">
    <div class="container">
        <div class="row">
          <div class="col-md-12 ml-auto mr-auto text-center">
            <div class="title-list">
                <h2>List of all Builds</h2>
                <p class="description">Choose which build you want to download</p>
            </div>
          </div>
        </div>
        <div class="col-md-12 ml-auto mr-auto text-center">
            <table class="table device-list">
              <thead>
                <tr>
                  <th>Filename</th>
                  <th>Download</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>file name example file name example</td>
                  <td>
                    <button class="btn btn-danger btn-round">Download</button>
                  </td>
                </tr>
                <tr>
                  <td>file name example file name example</td>
                  <td>
                    <button class="btn btn-danger btn-round">Download</button>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
        
    </div>
  </div>
</div>